<%# アイテム要素を削除 %>
<%= turbo_stream.remove "packing_item_#{@packing_item.id}" %>

<%# 全アイテムが削除された場合、空状態メッセージを表示 %>
<% if @packing_list.packing_items.empty? %>
  <%= turbo_stream.update "empty-state" do %>
    <div id="empty-state" class="">
      <p class="text-text-light mb-4"><%= t('packing_lists.show.empty_message') %></p>
    </div>
  <% end %>
<% end %>
