<% content_for(:title, t('.title')) %>
<% breadcrumb :groups %>

<%= turbo_frame_tag "group-create-modal", data: { controller: "modal" }  %>

<main id="groups-index-content" class="flex flex-col items-center justify-center px-8 md:px-6 lg:px-8 py-6 mb-20 ">
  <%= render "index_content" %>
</main>
