<%# グループ用 item追加フォーム %>
<%= form_with model: [@item_list, @item], url: group_schedule_item_list_items_path(@group), local: true, data: { turbo: true } do |f| %>
  <div class="flex gap-2 items-end">
    <%= f.text_field :name, placeholder: t('item_lists.form.item_name_placeholder'), class: "form-text-field flex-1", autofocus: true, data: { item_list_form_target: "nameInput" } %>
    <%= f.submit t('item_lists.form.create_button'), class: "btn-main px-4 py-2 w-auto md:min-w-24" %>
  </div>

  <%# エラーメッセージ %>
  <% if @item.errors.any? %>
    <div class="mt-2">
      <% @item.errors.full_messages_for(:name).each do |message| %>
        <p class="text-red-600 text-xs"><%= message %></p>
      <% end %>
    </div>
  <% end %>
<% end %>
