<%= link_to group_schedule_schedule_spot_path(schedule_spot.schedule.schedulable, schedule_spot) do %>
  <div class="bg-white rounded-lg shadow p-2 mb-2 border-l-4 border-primary">
    <h3 class="text-lg font-bold text-primary"><%= schedule_spot.display_name %></h3>
  </div>
<% end %>
