<div class="relative" data-controller="dropdown">
  <button
    class="inline-flex items-center justify-center w-10 h-10 rounded hover:bg-gray-100"
    data-action="click->dropdown#toggle"
  >
    <%= render "shared/icon/menu_icon_kebab"%>
  </button>

  <div
    class="absolute right-0 mt-1 bg-white border border-border rounded-lg shadow-lg z-10 hidden min-w-max"
    data-dropdown-target="menu"
  >
    <%= link_to edit_group_schedule_path(group), class: "flex items-center gap-3 px-6 py-4 hover:bg-gray-50 text-text no-underline", data: { action: "click->dropdown#close" } do %>
      <%= render "shared/icon/form_icon_edit" %>
      <span><%= t('schedules.show.edit') %></span>
    <% end %>
  </div>
</div>
