<div class="max-w-2xl md:max-w-3xl lg:max-w-4xl mx-auto px-8 md:px-6 lg:px-8 py-6 bg-main-bg">
  <%= render "shared/flash_messages", flash: flash %>
  <main class="flex flex-col justify-center bg-main-bg">
    <div class="flex items-center gap-2 mb-6 lg:mb-8">
      <h1 class="text-xl lg:text-2xl font-bold text-text"><%= t('schedule_spots.edit.title') %></h1>
    </div>
    <%= render "shared/schedule_spots/form",
               action_url: user_schedule_spot_path(@schedule_spot),
               cancel_url: user_schedule_spot_path(@schedule_spot) %>
  </main>
</div>
